<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/tableStyle.css">
    <title>Photocentre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/price">Back</a>
<div></div>
<div>
    <form method="post" action="/price/service">
        <input type="text" name="serviceType" placeholder="Тип заказа" required/>
        <input type="number" name="price" placeholder="Цена" required/>
        <button type="submit">Добавить</button>
    </form>
</div>
<table>
    <caption>Прайс-лист на заказы</caption>
    <tr>
        <th>Тип услуги</th>
        <th>Цена</th>
    </tr>
    {{#service}}
        <tr>
            <td>{{serviceType}}</td>
            <td>{{price}}</td>
        </tr>
    {{/service}}
</table>
</body>
</html>