<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/tableStyle.css">
    <title>Photocentre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/insert">Back</a>
<div></div>
<div>
    <form method="post" action="/insert/check">
        <select name ="address" required placeholder="Адрес">
            <option selected disabled value=''>Адрес магазина</option>
            {{#organization}}
                <option value="{{address}}">{{address}}</option>
            {{/organization}}
        </select>
        <input type="text" name="customerName" required placeholder="Покупатель"/>
        <input type="date" name="date" required placeholder="Дата поставки"/>
        <button type="submit">Добавить</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/insert/check/deleteAjax.js"></script>

<div>Check List</div>
<div id="tableId">
<table>
    <tr>
        <th>Id</th>
        <th>Адрес</th>
        <th>Покупатель</th>
        <th>Дата</th>
        <th>button</th>
        <th>Удаление</th>
    </tr>
{{#check}}
    <form method="get" action="/insert/check/item">
            <input type ="hidden" name="checkId" value="{{checkId}}">
            <tr>
            <td>{{checkId}}</td>
            <td>{{organizationName}}</td>
            <td>{{customerName}}</td>
            <td>{{date}}</td>
            <td><button type="submit">Добавить товары в чек</button></td>
    </form>
            <td>
                    <button type="submit" value="{{checkId}}" id="deleteButton">Удалить</button>
            </td>
            </tr>
{{/check}}
</table>
</div>
</body>
</html>