<html>
<head><link rel="stylesheet" type="text/css" href="../../../static/tableStyle.css"></head>
<body>
<a href="/insert">Back</a>
<div></div>
<div>
    <form method="post" action="/insert/check">
        <select name ="address" required placeholder="Адрес">
            <option selected disabled value=''>Адрес магазина</option>
            {{#organization}}
                <option value="{{address}}">{{address}}</option>
            {{/organization}}
        </select>
        <input type="text" name="customerName" required placeholder="Покупатель"/>
        <input type="date" name="date" required placeholder="Дата поставки"/>
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Check List</div>

<table>
    <tr>
        <th>Id</th>
        <th>Адрес</th>
        <th>Покупатель</th>
        <th>Дата</th>
        <th>button</th>
    </tr>
{{#check}}
    <form method="get" action="/insert/check/item">
        <div>
            <input type ="hidden" name="checkId" value="{{checkId}}">
            <tr>
            <td>{{checkId}}</td>
            <td>{{organizationName}}</td>
            <td>{{customerName}}</td>
            <td>{{date}}</td>
            <td><button type="submit">Добавить товары в чек</button></td>
            </tr>
        </div>
    </form>
{{/check}}
</table>

</body>
</html>