<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/tableStyle.css">
    <title>Photocentre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/price">Back</a>
<div></div>
<div>
    <form method="post" action="/price/orderAdd">
        <input type="text" name="orderType" placeholder="Тип заказа" required/>
        <input type="text" name="paperType" placeholder="Тип бумаги"/>
        <input type="text" name="format" placeholder="Формат"/>
        <input type="number" name="price" placeholder="Цена" required/>
        <button type="submit">Добавить</button>
    </form>
</div>

<table id="tableId">
    <caption>Прайс-лист на заказы</caption>
    <tr>
        <th>Тип заказа</th>
        <th>Тип бумаги</th>
        <th>Формат бумаги</th>
        <th>Цена</th>
        <th>Удалить</th>
    </tr>
    {{#order}}
        <tr>
            <td>{{orderType}}</td>
            <td>{{paperType}}</td>
            <td>{{format}}</td>
            <td>{{price}}</td>
            <td>
                <button type="submit" id="deleteButton" value="{{orderId}}">Удалить</button>
            </td>
        </tr>
    {{/order}}
</table>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    $(document).on("click", "#deleteButton", function() {
        var id = $(this).attr('value');
        let isBoss = confirm("Вы уверены, что хотите удалить этот заказ?");
        if(isBoss) {
            $.post('/price/order/delete', {
                orderId: id
            }, function (html) {
                jQuery('#tableId').html(html);
            });
        }
    });
</script>
</body>
</html>