<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../../../static/tableStyle.css">
    <title>Photocentre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/insert/check">Back</a>
<div>Current Check</div>
{{#currentCheck}}
    <div>
        <input type ="hidden" name="checkId" value="{{checkId}}" form="addGoods">
        <input type ="hidden" name="checkId" value="{{checkId}}" form="addService">
        <input type ="hidden" name="checkId" value="{{checkId}}" form="addOrder">
        <b>{{checkId}}</b>
        <span>{{organizationName}}</span>
        <span>{{customerName}}</span>
        <span>{{date}}</span>
    </div>
{{/currentCheck}}
<div>Добавить товар в чек</div>
<form method="post" id="addGoods" action="/insert/check/itemGoods">
    <select name ="goodsId" placeholder="Товар" required>
        <option selected disabled value=''>Товар</option>
        {{#goods}}
            <option value={{goodsId}}>{{nameOfGoods}} {{company}} {{goodsModel}}</option>
        {{/goods}}
    </select>
    <input type="number" name="count" placeholder="Количество" required/>
    <button type="submit">Добавить</button>
</form>

<div>Добавить сервис в чек</div>
<form method="post" id="addService" action="/insert/check/itemService">
    <select name ="serviceId" required placeholder="Товар">
        <option disabled selected value=''>Сервис</option>
        {{#services}}
            <option value={{serviceId}}>{{serviceType}}</option>
        {{/services}}
    </select>
    <input type="number" required name="count" placeholder="Количество"/>
    <button type="submit">Добавить</button>
</form>

<div>Добавить заказ в чек</div>
<form method="post" id="addOrder" action="/insert/check/itemOrder">
    <select name ="orderId" placeholder="Товар" required>
        <option selected disabled value=''>Заказ</option>
        {{#orders}}
            <option value={{orderId}}>{{orderType}} {{paperType}} {{format}}</option>
        {{/orders}}
    </select>
    <input type="number" name="count" required placeholder="Количество"/>
    <button type="submit">Добавить</button>
</form>

<table>
    <tr>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Удаление</th>
    </tr>
    {{#items}}
        <tr>
            <td>{{itemInput}}</td>
            <td>{{count}}</td>
            <td>
                <form method="post" action="/insert/check/item/delete">
                    <input type="hidden" name="id" value={{itemId}}>
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
    {{/items}}
</table>
</body>
</html>