<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/tableStyle.css">
        <title>Photocentre</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <a href="/">Back</a>
        <br>
        <br>
        <a href="/insert/customer">Add Customer</a>
        <br>
        <br>
        <a href="/insert/supplier">Add Supplier</a>
        <br>
        <br>
        <a href="/insert/organization">Add Organization</a>
        <br>
        <br>
        <a href="/insert/worker">Add Workers</a>
        <br>
        <br>
        <a href="/insert/delivery">Add Delivery</a>
        <br>
        <br>
        <a href="/insert/check">Add Check</a>
        <br>
        <br>
        <a href="/price">All Price Lists</a>
    </body>
</html>