<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../../../static/tableStyle.css">
    <title>Photocentre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/insert/delivery">Back</a>
<div>Current delivery</div>
    {{#delivery}}
        <div>
            <input type ="hidden" name="deliveryId" value="{{deliveryId}}" form="add">
            <b>{{deliveryId}}</b>
            <span>{{organizationName}}</span>
            <span>{{supplierName}}</span>
            <span>{{date}}</span>
        </div>
    {{/delivery}}

<form method="post" id="add" action="/insert/delivery/input">
    <select name ="goodsId" placeholder="Товар">
        <option value="-1">Товар</option>
        {{#goods}}
            <option value={{goodsId}}>{{nameOfGoods}} {{company}} {{goodsModel}}</option>
        {{/goods}}
    </select>
    <input type="number" name="count" placeholder="Количество"/>
    <button type="submit">Добавить</button>
</form>

<div>Current delivery</div>
<table>
    <tr>
        <th>Наименование товара</th>
        <th>Компания-производитель</th>
        <th>Модель</th>
        <th>Количество</th>
        <th>Удалить</th>
    </tr>
    {{#deliveryInput}}
        <tr>
            <td>{{nameOfGoods}}</td>
            <td>{{goodsCompany}}</td>
            <td>{{goodsModel}}</td>
            <td>{{count}}</td>
            <form method="post" action="/insert/delivery/input/delete">
                <input type="hidden" name="id" value="{{deliveryInputId}}"/>
                <td><button type="submit">Удалить</button></td>
            </form>
        </tr>
    {{/deliveryInput}}
</table>

</body>
</html>