<table>
    <tr>
        <th>Адрес</th>
        <th>Адрес филиала-родителя</th>
        <th>Удалить</th>
    </tr>
    {{#organizationsShow}}
        <tr>
            <td>{{address}}</td>
            <td>{{branchOfficeAdressString}}</td>
            <td><button type="submit" value="{{address}}" id="deleteAddress">Удалить</button></td>
    <tr>
    {{/organizationsShow}}
</table>