<html>

<body>
<a href="/insert/delivery">Back</a>
<div>Current delivery</div>
    {{#delivery}}
        <div>
            <input type ="hidden" name="deliveryId" value="{{deliveryId}}" form="add">
            <b>{{deliveryId}}</b>
            <span>{{organizationName}}</span>
            <span>{{supplierName}}</span>
            <span>{{date}}</span>
        </div>
    {{/delivery}}

<form method="post" id="add" action="/insert/delivery/Input">
    <select name ="goodsId" placeholder="Товар">
        <option value="-1">Товар</option>
        {{#goods}}
            <option value={{goodsId}}>{{nameOfGoods}} {{company}} {{goodsModel}}</option>
        {{/goods}}
    </select>
    <input type="text" name="count" placeholder="Количество"/>
    <button type="submit">Добавить</button>
</form>

<div>Current delivery</div>
{{#deliveryInput}}
    <div>
        <b>{{nameOfGoods}}</b>
        <span>{{goodsCompany}}</span>
        <span>{{goodsModel}}</span>
        <span>{{count}}</span>
    </div>
{{/deliveryInput}}
</body>
</html>