<!DOCTYPE HTML>
<html>
<head>
    <title>Photocentre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<a href="/">Back</a>
<div></div>
<a href="/insert/customer">Add Customer</a>
<div></div>
<a href="/insert/supplier">Add Supplier</a>
<div></div>
<a href="/insert/organization">Add Organization</a>
<div></div>
<a href="/insert/worker">Add Workers</a>
<div></div>
<a href="/price">All Price Lists</a>
</body>
</html>