<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/tableStyle.css">
    <title>Photocentre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <br>
    <a href="/insert">Add new information</a>
    <br>
    <br>
    <a href="/select/orders">Order select</a>
    <br>
    <br>
    <a href="/select/photoCount">Photo Count</a>
    <br>
    <br>
    <a href="/select/query7">Select Suppliers</a>
    <br>
    <br>
    <a href="/select/query8">Select Customers</a>
    <br>
    <br>
    <a href="/select/query9">Count Goods Revenue</a>
    <br>
    <br>
    <a href="/select/query10">Find Top PhotoGoods + Company</a>
    <br>
</body>
</html>