<html>

<body>
<a href="/price">Back</a>
<div></div>
<div>
    <form method="post" action="/price/goodsAdd">
        <input type="text" name="nameOfGoods" placeholder="Наименование товара" />
        <input type="text" name="company" placeholder="Компания-производитель">
        <input type="text" name="goodsModel" placeholder="Модель товара">
        <input type="number" name="buyPrice" placeholder="Цена покупки">
        <input type="number" name="sellPrice" placeholder="Цена продажи">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Прайс-лист на фототовары</div>
{{#goods}}
<div>
    <span>{{nameOfGoods}}</span>
    <span>{{company}}</span>
    <span>{{goodsModel}}</span>
    <span>{{buyPrice}}</span>
    <span>{{sellPrice}}</span>
</div>
{{/goods}}
</body>
</html>