<!DOCTYPE HTML>
<html>
<head>
    <title>Photocentre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/price">Back</a>
<div></div>
<a href="/price/goods">Add new information about Goods</a>
</body>
</html>