<html>

<body>
<a href="/price">Back</a>
<div></div>
<div>
    <form method="post" action="/price/orderAdd">
        <input type="text" name="orderType" placeholder="Тип заказа" />
        <input type="text" name="paperType" placeholder="Тип бумаги">
        <input type="text" name="format" placeholder="Формат">
        <input type="number" name="price" placeholder="Цена">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Прайс-лист на заказы</div>
{{#order}}
<div>
    <span>{{orderType}}</span>
    <span>{{paperType}}</span>
    <span>{{format}}</span>
    <span>{{price}}</span>
</div>
{{/order}}
</body>
</html>