<html>

<body>
<a href="/insert">Back</a>
<div></div>
<div>
    <form method="post" action="/insert/worker">
        <select name ="address" placeholder="Адрес">
        {{#organization}}
        <option value={{address}}>{{address}}</option>
        {{/organization}}
        </select>
        <input type="text" name="name" placeholder="Имя">
        <input type="text" name="profile" placeholder="Профиль работника">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Workers List</div>
{{#workers}}
<div>
    <b>{{name}}</b>
    <span>{{profile}}</span>
</div>
{{/workers}}
</body>
</html>