<span>после даты</span>
<input type="date" name="afterDate" value="2020-01-01" placeholder="После даты"/>
<span>до даты</span>
<input type="date" name="beforeDate" value={{currentDate}} placeholder="До даты"/>
<button type="button"id="removeDatesButton">Убрать ограничение на даты</button>