<select name="organizationFilter" id="organizationFilter">
    <option value="all">Все Организации</option>
    <option value="filials">Только Филиалы</option>
    <option value="kiosks">Только Киоски</option>
</select>

<select name="orgs" id="putOrganizationsSelect" multiple="multiple">
    {{#organizations}}
        <option value="{{address}}">{{address}}</option>
    {{/organizations}}
</select>

<button type="button" id = "removeOrganizationsButton">Убрать ограничение по организациям</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $("#putOrganizationsSelect").chosen();
</script>