<html>
<head>
    <title>Photocentre</title>
    <link rel="stylesheet" type="text/css" href="../../../static/myStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
</head>
    <body>
    <a href="/">Back to main page</a>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/select/orders/ajaxAddOrganizations.js"></script>
    <script type="text/javascript" src="/static/select/orders/ajaxAddDates.js"></script>
    <script type="text/javascript" src="/static/select/orders/ajaxAddOrderType.js"></script>
    <div>Показать заказы :</div>
    <div class="form-content">
        <form method="get" action="/select/orders/organizationTypeAndDate">
            <div id="addOrganizations">
                <select name="organizationFilter" id="organizationFilter">
                    <option value="all">Все Организации</option>
                    <option value="filials">Только Филиалы</option>
                    <option value="kiosks">Только Киоски</option>
                </select>
                <button type="button" id = "organizationsButton">Добавить ограничение по организациям</button>
            </div>
            <br>
            <div  id="addDates">
            <button type="button" id = "datesButton">Добавить ограничение на даты</button>
            </div>
            <br>
            <div id="addOrderType">
            <button type="button" id = "orderTypeButton">Добавить ограничение на тип заказа</button>
            </div>
            <br>
            <button type="submit">Найти</button>
            <button type="reset">Очистить</button>
        </form>
    </div>
    </div>
    <div>Orders list</div>
    <div id = 'tableOfSelects'>
        <span>Общая сумма по заказам: {{fullPrice}}</span>
        <table>
            <tr>
                <th value="Check_Customer_Name" id="Customer_Name">Customer Name⇳</th>
                <th value="OrderId_OrderType" id = "Order_Type">Order Type⇳</th>
                <th value="OrderId_PaperType" id = "Paper_Type">Paper Type⇳</th>
                <th value="OrderId_Format" id = "Format">Format⇳</th>
                <th value="Check_Organization_Address" id="Address">Address⇳</th>
                <th value="Check_Date" id="Date">Date⇳</th>
            </tr>
            {{#orders}}
                <tr>
                    <td>{{customerName}}</td>
                    <td>{{orderType}}</td>
                    <td>{{orderPaperType}}</td>
                    <td>{{orderFormat}}</td>
                    <td>{{adress}}</td>
                    <td>{{date}}</td>
                </tr>
            {{/orders}}
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    </body>
</html>