<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/tableStyle.css">
    <title>Photocentre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/insert">Back</a>
<div></div>
<div>
    <form method="post" action="/insert/customer">
        <input type="text" name="name" placeholder="Имя покупателя" required/>
        <select name="discountCard" required>
            <option selected disabled value=''>Наличие дисконтной карты</option>
            <option value="0">Нет карты</option>
            <option value="1">Есть карта</option>
        </select>
        <button type="submit">Добавить</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/insert/customer/deleteCustomer.js"></script>

<div id="tableId">
<table>
    <caption>Список покупателей</caption>
    <tr>
        <th>Имя</th>
        <th>Наличие дисконтной карты</th>
        <th>Удаление</th>
    </tr>
    {{#customers}}
        <tr>
            <td>{{name}}</td>
            <td>{{discountCard}}</td>
            <td>
                <button type="submit" value="{{name}}" id="deleteCustomer">Удалить</button>
            </td>
        </tr>
    {{/customers}}
</table>
</div>
</body>
</html>